<ion-header>
  <ion-navbar>
    <ion-title><img src="assets/imgs/CircuitCatLogo.jpg" style="height: 28px;"></ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list inset>

    <ion-label>Escribe el numero de comensales que quieren el plato al lado del mismo</ion-label>

    <ion-label>Entrantes</ion-label>
    <ion-item *ngFor="let course of entrees | async">
      <ion-label>{{ course.nombre }}</ion-label>
      <ion-input type="number" [(ngModel)]="courses.course" name="{{ course.nombre }}"></ion-input>
    </ion-item>

    <ion-label>Platos principales</ion-label>
    <ion-item *ngFor="let course of mainCourses | async">
      <ion-label>{{ course.nombre }}</ion-label>
      <ion-input type="number" [(ngModel)]="courses.course" name="{{ course.nombre }}"></ion-input>
    </ion-item>

    <ion-label>Postres</ion-label>
    <ion-item *ngFor="let course of desserts | async">
      <ion-label>{{ course.nombre }}</ion-label>
      <ion-input type="number" [(ngModel)]="courses.course" name="{{ course.nombre }}"></ion-input>
    </ion-item>

  </ion-list>

  <button ion-button full (click)="sendCourses()">Seleccionar platos</button>

</ion-content>
