<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager style="height: 33%;">

    <ion-slide style="background-color: green" *ngFor="let course of entrees | async">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

  <ion-slides pager style="height: 34%;">

    <ion-slide style="background-color: green" *ngFor="let course of mainCourses | async">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

  <ion-slides pager style="height: 33%;">

    <ion-slide style="background-color: green" *ngFor="let course of desserts | async">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

</ion-content>
