<ion-header>
  <ion-navbar>
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-slides pager style="height: 33%;">

    <ion-slide *ngFor="let course of entrees | async" style="background-color: #ffffff; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" [style.background-image]="getSlideStyle(course.imagen)">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

  <ion-slides pager style="height: 34%;">

    <ion-slide *ngFor="let course of mainCourses | async" style="background-color: #ffffff; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" [style.background-image]="getSlideStyle(course.imagen)">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

  <ion-slides pager style="height: 33%;">

    <ion-slide *ngFor="let course of desserts | async" style="background-color: #ffffff; height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;" [style.background-image]="getSlideStyle(course.imagen)">
      <h2>{{ course.nombre }}</h2>
    </ion-slide>

  </ion-slides>

</ion-content>
